<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>DAeC Indexliste: Wettbewerb 2025</title>
  <link href="https://fonts.googleapis.com/css?family=Domine&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
  <link href="styles.css" rel="stylesheet">
</head>
<body>
<h1 class="header">
  <img src="daec-logo.svg" class="logo">
  DAeC Indexliste: Wettbewerb 2025
</h1>
<table>
  <thead>
  <tr>
    <td>
      <div class="header-space">&nbsp;</div>
    </td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <div class="content">
        {% macro section(c) %}
        <h2>{{ c.title }}</h2>
        <table>
          {%- for handicap, gliders in c.records | groupby("handicap") | sort(reverse=true) %}
            <tr>
              <td>
                {%- for glider in gliders | sort(attribute="model") %}
                  <span class="glider-type">{{ glider.model }}{% if not loop.last %} <span class="sep">|</span>{% endif %}</span>
                {%- endfor %}
              </td>
              <td>{{ handicap | format_handicap }}</td>
            </tr>
          {%- endfor %}
        </table>
        <p class="comment">
          Flugzeuge, die der Klassendefinition entsprechen und in der klassenübergreifenden Liste
          einen Index von <b>{{ c.cutoff | int }}</b> oder weniger haben, erhalten einen Index von
          <b>{{ c.records | map(attribute="handicap") | min | format_handicap }}</b>.
        </p>
        {% endmacro %}

        {{ section(m15) }}
        {{ section(standard) }}

        <h2>Klassenübergreifend</h2>
        <table>
        {%- for handicap, gliders in handicaps | groupby("handicap") | sort(reverse=true) %}
          <tr>
            <td>
            {%- for glider in gliders | sort(attribute="model") %}
              <span class="glider-type">{{ glider.model }}{% if not loop.last %} <span class="sep">|</span>{% endif %}</span>
            {%- endfor %}
            </td>
            <td>{{ handicap | int }}</td>
          </tr>
        {%- endfor %}
        </table>
      </div>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
