@page {
    size: A4 portrait;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Domine', serif;
}

.header,
.header-space {
    height: 90px;
}

.header {
    background-color: white;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 4px 12px;
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    width: auto;
    height: 50px;
    margin-right: 12px;
}

h2 {
    padding: 4px 12px;
    page-break-before: always;
}

@media print {
    h2:nth-child(1) {
        margin-top: 0;
    }
}

table {
    border-spacing: 0;
    line-height: 1.5em;
}

tr {
    page-break-inside: avoid;
    page-break-after: auto;

    &:nth-child(even) {
        background: #f0f0f0
    }
}

td {
    padding: 4px 12px;

    &:nth-child(2) {
        text-align: right;
    }
}

.glider-type {
    white-space: nowrap;

    &.highlight {
        font-weight: bold;
    }
}

.sep {
    opacity: 0.1;
    margin: 0 4px;
}
